.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 32px !important;

  .pagination {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
    display: flex;
    width: 400px;
    justify-content: space-between;
    border: 1px solid grey;
    padding-left: 20px;
    padding-right: 20px;

    .pagination__item {
      border-right: 1px solid grey;
      padding-right: 15px;
    }
    .pagination__item,
    .pagination__item-link {
      outline: none;
    }

    .disabled {
      display: none !important;
    }

    .active {
      .pagination__item-link {
        background-color: #1aa7ec;
        color: #ffffff;
        outline: none;
      }
    }
  }
}
